<div class="row">
  <div class="col-xs-12">
    <img [src]="(shirtsState | async).menShirts[id].imagePath" alt="{{(shirtsState | async).menShirts[id].name}}" class="img-responsive">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1> {{(shirtsState | async).menShirts[id].name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button class="btn btn-primary dropdown-toggle"> Manage Shirts
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="onAddtoShoppingList()" style="cursor: pointer;">To shopping list</a></li>
        <li><a style="cursor: pointer;" (click)="onEditShirts()">Edit Shirts List</a></li>
        <li><a style="cursor: pointer;" (click) ="onDeleteShirts()" >Delete Shirt List</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{(shirtsState | async).menShirts[id].description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
  <ul class="list-group">
    <li 
    class="list-group-item"
    *ngFor ="let shirtscategories of (shirtsState | async).menShirts[id].shirtcategories ">
      {{shirtscategories.name}}-{{shirtscategories.amount}}Pcs
    </li>
  </ul>
  </div>
</div>
